.env
# Mike/cleaned_aggregated_data.csv
# Mike/aggregated_violations_data.csv
# Mike/food_poisoning.csv
# Mike/restaurant_violations_map_with_dba_names.html
K_Means/restaurant_inspection.csv
RandomForest/restaurant_inspection.csv